body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.top{
    background-image: url(pic/donat1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.top1{
    color: azure;
    padding: 50px;
    text-align: center;
}
h1{
    font-size: 50px;
}
    .button{
        background-color: red;
        padding: 10px 40px;
        border-radius: 8px;
        text-decoration: none;
        color: white;
    }
    .nooot{
            height: 5px;
            padding: 50px;
            text-align: center;
    }
    .tk{
        display: flex;
        justify-content: center;
        margin: 30px;
        padding: 20px;
    }
    .tk{
        background-color: aqua;
        width: 60px;
        height: 20px;
        margin: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;

    }
    .tkkj{
        border: 5px solid red;
        border-radius: 5px;
        background-color: aqua;
        width: 100px;
        height: 80px;
        margin: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: red;
    }
    .babatk{
        width: 5opx;
        height: 80px;
        margin: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .footer{
        color: gray;
    }
    .bot div{
        margin-top: 30px;
    }
    .plan{
        padding: 450px;
        text-align: center;
        color: gray;
    }
    .paln-color{
        color: black;
        text-align: center;
        font-size: 40px;

    }
    .idia{
    display: flex;
    flex-direction: row;
    margin-right: 80px;
    margin-left: 80px;
    height: 400px;
    padding-top: 0%
    }
    .food{
        background-color: aqua;
        width: 400px;
        height: 300px;
        padding: 10px;
        margin: 10px;
    }
    .family{
        background-color: aqua;
        width: 400px;
        height: 300px;
        padding: 10px;
        margin: 10px;
    }
    .Education{ 
        background-color: aqua;
        width: 400px;
        height: 300px;
        padding: 10px;
        margin: 10px;

    }